@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  padding: 20px;
  background-color: cornflowerblue;
  color: #fff;
}

header img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  header h1 {
    font-size: 1.5em;
  }
}
